.cvTimeline{

    padding: 50px 0;
    color: white;
    overflow: hidden;
}


.timelineBlock{

    margin: 0 20px;
    display: flex;
    
    

    .element1{
        margin-right: 30px;
        padding-top: 30px;
        position: relative;
        min-width: 30vw;
        text-align: end;

    }
    .element2{
        background-color: white;
        position: relative;
        min-width: 2px;

        
    }

    .element2::after{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: black;
        z-index: 3;
        top: 30px;
        left: -6px;
        border-radius: 100%;
        border: 3px solid white;
        box-shadow: 0 0 1px 1px white ;
    }


    .element3{

        position: relative;
        margin-left: 30px;
        right: 0;
        padding-top: 30px;
        width: 100%;
    }
}
